@charset "UTF-8";

.container {
	display: inline-flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: 700px;
	border: 2px solid black;
	background-color: aquamarine;
}

.container .item-class {
	height: 30%;
    width: 20%;	
	border: 2px solid yellow;

}

.container .item-class—self {
	height: 30%;
    width: 20%;	
	align-self: center;
	border: 2px solid yellow;

}